/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    touch-action: manipulation;
}

body {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  overscroll-behavior-y: none;
}
